# Neon DB Connection String
# Get this from your Neon console (e.g. postgres://alex:pwd@ep-cool-water-123456.us-east-2.neon.tech/neondb?sslmode=require)
DATABASE_URL=""

# Clerk Authentication (Backend & Frontend)
CLERK_SECRET_KEY=""
VITE_CLERK_PUBLISHABLE_KEY=""

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""